.SP-bia{
    text-align: center;
}
.big-bia{
    display: flex;
    justify-content: center;
}
.small-bia{
    border: 1px solid brown;
    margin: 10px;
    /* box-shadow: 7px 7px brown; */
}
.small-bia  p{
    margin-bottom: 10px;
    font-size: 15px;
    width: 300px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
}
.small-bia a{
    text-decoration: none;
    color: black;
}
/* .small-bia img:hover{
    transform: translate(5px,10px);
} */
.small-bia p:hover{
    color: brown;
    font-weight: bold;
}
.SP-bia h2{
    color: brown;
}
.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 20px 50px;
}
u{
    color: brown;
}
.winemart{
    text-align: center;
}
.winemart h2{
    color: brown;
}
.tien{
    font-weight: bold;
    color: brown;
}