/* body{
    background-color: rgb(193, 185, 185)  ;
} */
.mapbut {
    display: flex;
    justify-content: right;
}
.mapbut i {
    padding-right: 5px;
}
.hotline {
    padding-right: 30px;
}
.hotline a {
    text-decoration: none;
    color: brown;
}
.email {
    padding-right: 30px;
}
.email a {
    text-decoration: none;
    color: brown;
}

.light {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .light .form-group {
    display: flex;
    gap: 0 20px;
    margin-right: 20px;
    cursor: pointer;
} */
.form-group {
    text-decoration: none;
    font-weight: 700;
    display: flex;
    cursor: pointer;
    font-size: 15px;
}
.modal-sign-in {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: fadeIn 0.5s forwards;
}

.modal-sign-in.active {
    display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-sign-in .container {
    width: 500px;
    background-color: #fff;
    padding: 20px;
}

.modal-sign-in .container input {
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
}

.modal-sign-in .container button {
    display: block;
    width: 100%;
    padding: 15px;
    border: 0;
    background-color: brown;
    color: white;
    font-weight: bold;
}
.modal-sign-up {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s forwards;
    display: none;
}
.form-group p {
    color: white;
    background-color: brown;
    font-weight: bold;
}
.form-group p:hover {
    color: brown;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
.modal-sign-up.active {
    display: flex;
}

.modal-sign-up .container {
    width: 500px;
    background-color: #fff;
    padding: 20px;
}

.modal-sign-up .container input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.modal-sign-up .container button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: brown;
    color: white;
    font-weight: bold;
}
.sign-in {
    border: 1px solid brown;
    padding: 10px;
}
.sign-up {
    border: 1px solid brown;
    padding: 10px;
}
.big {
    display: flex;
    justify-content: right;
}
.big .form-group {
    padding: 0px 10px;
}

/* menu */
.table {
    background-color: brown;
    text-align: center;
    /* border: 0.5px solid brown; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
    margin-top: -25px;
}
.table > ul > li {
    display: inline-block;
    padding: 8px 8px;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 30px;
}
.table > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.table .hover :hover {
    background-color: rgb(155, 71, 71);
    padding: 10px 0;
}
.table ul ul {
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}
.table ul ul a {
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 5px;
}
.table ul ul {
    z-index: 3;
}
.table > ul > li:hover > ul {
    display: block;
}
.table ul ul a:hover {
    background-color: rgb(155, 71, 71);
    color: white;
}

.bag-wrapper {
    --ct--value--: "0";
}

.bag {
    padding-top: 5px;
    padding-left: 10px;
}

.bag i {
    font-size: 50px;
    color: brown;
    position: relative;
}
.bag::before {
    content: var(--ct--value--);
    display: inline-block;
    background-color: brown;
    position: absolute;
    font-size: 25px;
    border-radius: 10px;
    right: 6px;
    z-index: 999;
    color: white;
    padding: 3px;
}
/* tìm kiếm */
.search-big {
    display: flex;
    justify-content: right;
    /* padding: 10px 0px; */
}
.search {
    display: flex;
    justify-content: right;
    padding: 10px 0px;
}
#search-box {
    display: flex;
    /* border-radius: 50%; */
}
#search-box #search-text {
    background-color: white;
    border: 1px solid brown;
    outline: none;
    /* background: none; */
    padding: 10px 15px;
    font-size: 20px;
    flex: 1;
    /* border-radius: 10px 0 0 10px; */
}
#search-box #search-btn {
    background-color: brown;
    cursor: pointer;
    border: none;
    padding: 15px;
    flex-shrink: 0;
    /* border-radius: 0 10px 10px 0; */
}
#search-btn i {
    color: white;
}
/*slider*/
.slider {
    max-width: 820px;
    margin: 10px auto;
    position: relative;
}
.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #680205;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}
.slider-next,
.slider-prev {
    color: white;
    z-index: 999;
}
.slider-next {
    right: -25px;
}
.slider-prev {
    left: -25px;
}
.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 10;
}
.slider-dots li {
    margin: 0 10px;
    width: 32px;
    height: 10px;
    border-radius: 10px;
    background-color: #dce0e3;
    cursor: pointer;
    transition: background-color 0.25s linear;
}
.slider-dots li.active {
    background-color: #9aa6af;
    width: 50px;
}
.slider-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.slider-main {
    display: flex;
    position: relative;
    transition: transform 0.5s linear;
    height: 100%;
}

.slider-main.active {
    transition: none;
}

.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    user-select: none;
}
.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* footer */
.footer {
    background-color: brown;
    color: white;
    /* padding: 20px; */
    font-size: 17px;
}
.one {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.one-nho {
    text-align: center;
}
p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-iframe {
    width: 100%;
    height: 2330px;
}
