.SP-ruouvang{
    text-align: center;
}
.big-ruouvang{
    display: flex;
    justify-content: center;
}
.small-ruouvang{
    border: 1px solid brown;
    margin: 10px;
    box-shadow: 7px 7px brown;
}
.small-ruouvang p{
    margin-bottom: 10px;
    font-size: 15px;
    width: 350px;
    height: auto;
    font-size: 20px;
}
.small-ruouvang p:hover{
    color: brown;
    font-weight: bold;
}
h2{
    color: brown;
}
hr{
    color: brown;
    font-size: 5px;
}
.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 20px 50px;
}
u{
    color: brown;
}
.winemart{
    text-align: center;
}
